
<nav class="navbar navbar-inverse navbar-fixed-top">
	<ul class="nav navbar-nav">
		<%= link_to "Sample App", root_path, class: "navbar-brand", id: "logo" %>
		<li class="active"><%= link_to "Home", root_path %></li>
		<li><%= link_to "About", about_path  %></li>
		<li><%= link_to "Contact", contact_path  %></li>
	</ul>

	<ul class="nav navbar-nav navbar-right">
		<li><%= link_to "Sign in", "#" %></li>
	</ul>
</nav>
